@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Asap", sans-serif;
}
body {
  overflow-x: hidden;
}
button {
  outline: none;
}
ul li {
  margin-right: 50px;
}
a {
  color: #5c6574;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.bg_section {
  background: #f3f7f9;
}
.hero_section {
  overflow: hidden;
  padding: 30px 0;
}
.imgDb {
  background-image: url("../Image/background.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 110vh;
}
.heroText {
  width: 770px;
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  color: #5c6574;
  margin-bottom: 50px;
}
.heroimg {
  margin-left: -100px;
}
.heroImg2 {
  top: 21%;
  right: 24%;
}
.heroImg3 {
  top: 16%;
  right: 38%;
}
.carosol_container {
  margin-top: -350px;
}

/* Payment sectiopn */

.paymentBigImg {
  height: 765px;
}
.PaymentImgBox {
  width: 587px;
  height: 100px;
  background: #e9ebec;
  border-radius: 42px 19px 24px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  padding-left: 140px;
  padding-right: 29px;
}
.payment1stImg {
  position: absolute;
  top: -15%;
  left: -80px;
}
.paymentmarkText {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #4277ff;
  margin-top: 13px;
  margin-bottom: 53px;
}
.PaymentHeaderText {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #495264;
  margin-bottom: 71px;
}
.paymentPara {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
  margin-bottom: 44px;
}

/* Review section */
.revies_Section {
  background: #f3f7f9;
  padding-bottom: 30px;
}
.review_container {
  max-width: 1750px;
  margin: auto;
  overflow: hidden;
  padding: 121px 0;
}
.review_left {
  position: relative;
  height: 722px;
  width: 40%;
}
.review_right {
  height: 722px;
  width: 60%;
  background: #ffffff;
  box-shadow: 8px 9px 141px rgba(0, 0, 0, 0.1);
  border-radius: 90px 0px 0px 90px;
  margin-right: 15px;
  padding-top: 78px;
  padding-bottom: 70px;
  padding-left: 107px;
  padding-right: 70px;
  position: relative;
}
.review_right i {
  font-size: 50px;
  color: #fcc63c;
  margin-right: 12px;
}
.review_right p {
  font-weight: 400;
  font-size: 32px;
  line-height: 52px;
  color: #3f46548d;
  margin-top: 50px;
}
.ReviewedUser {
  width: 347px;
  height: 112px;
  filter: drop-shadow(0px 4px 57px rgba(0, 0, 0, 0.1));
  background: #ffffff;
  border-radius: 76px;
  margin-top: 60px;
  padding: 0 10px;
}
.ReviewedUser h2 {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #5c6574;
  margin-bottom: 0;
}
.ReviewedUser .cto {
  font-weight: 500;
  font-size: 20px;
  line-height: 0;
  color: #3f46548d;
  margin-top: 14px;
}
.control_box {
  width: 320px;
  height: 66px;
  border-radius: 12px;
  background: rgba(99, 10, 10, 0.292);
  position: absolute;
  bottom: -4.5%;
  right: 92px;
  overflow: hidden;
}
.prev {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    #3c65f6;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.next {
  background: #4277ff;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.leftBox {
  width: 980px;
  height: 722px;
  border-radius: 800px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  left: -61%;
  bottom: 0;
  border: 2px dashed #5c657459;
}
.reviewtext {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 11;
  width: 219px;
  font-weight: 700;
  font-size: 72px;
  line-height: 100px;
  color: #5c6574;
}
.reviewtext span {
  color: #4277ff;
}
.ReviewUserImg1 {
  position: absolute;
  top: -4%;
  left: 34%;
}
.ReviewUserImg2 {
  position: absolute;
  bottom: -3.5%;
  left: 34%;
}

.ReviewUserImg3 {
  position: absolute;
  top: 10%;
  right: 28%;
}
.ReviewUserImg4 {
  position: absolute;
  bottom: 10%;
  right: 28%;
}

.ReviewUserImg5 {
  position: absolute;
  top: 35%;
  right: 4%;
}

.border_box {
  width: 814px;
  height: 562px;
  background: #ffffff;
  box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.1);
  border-radius: 800px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  left: -50%;
  bottom: 11.5%;
}

.leftBox h1 {
  transform: none;
}

/* Brand */

.brand_section {
  padding-top: 280px;
  position: relative;
  z-index: -8;
  padding-bottom: 150px;
}

.brand_container {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 3.39%,
    #ffffff 49.96%,
    rgba(255, 255, 255, 0) 96.54%
  );
  height: 313px;
  z-index: 11;
}

.brand_shadow {
  position: absolute;
  width: 870px;
  height: 392px;
  top: 40%;
  left: 25%;
  background: #000000;
  opacity: 0.06;
  filter: blur(40px);
  z-index: -2;
}
.arrow {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.arrow_left {
  background: rgb(255, 255, 255);
}
.arrow_right {
  background: #4277ff;
  color: #fff;
}

/* DashBoad */

.dashboard_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1135px;
  margin-left: 20%;
  background: #3c65f6;
  padding: 64px 0;
  border-radius: 73px 0px 0px 73px;
  position: relative;
  padding-left: 320px;
}

.left_menuBox {
  width: 452px;
  height: 988px;
  background: rgba(44, 51, 65, 1);
  box-shadow: 10px 23px 50px rgba(0, 0, 0, 0.08);
  border-radius: 37px;
  position: absolute;
  left: -15%;
  padding: 40px;
  text-align: center;
  border-left: 09px solid #4277ff;
}
.left_menuBox h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #4277ff;
}
.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 36px;
}
.left_menuBox button {
  padding: 0 30px;
  height: 42px;
  background: #2e3a54;
  border: 0.5px solid #4277ff;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #4277ff;
}
.left_menuBox .btnBox .active {
  border: 0.5px solid #4277ff;
  background: #4277ff;
  color: #ffffff;
}
.left_menuBox .line {
  height: 2px;
  width: 100%;
  background: #4277ff;
}
.menuItemBox .dashboard_menuCard {
  width: 371px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  background: rgba(66, 119, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 22px;
}
.menuItemBox .dashboard_menuCard:nth-child(3) {
  background: #4277ff;
}
.menuItemBox .dashboard_menuCard:nth-child(3) h1 {
  color: #fff;
}
.menuItemBox .dashboard_menuCard h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4277ff;
}

.dashboard_right {
  text-align: center;
}
.dashboard_right h1 {
  width: 947px;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.dashboard_right p {
  font-weight: 400;
  width: 881px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  margin: 0 auto;
  margin-bottom: 54px;
  margin-top: 30px;
}
.slider_point {
  margin-top: 70px;
}

/* Collection */
.collection_sectoin {
  padding-top: 400px;
  padding-bottom: 200px;
}
.collection_container {
  margin-left: 8%;
  width: 1712px;
  height: 216px;
  background: linear-gradient(60.06deg, #4277ff -11.48%, #0657d0 159.3%);
  border-radius: 10px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
.collection_container button {
  width: 250.33px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background: #ffffff;
  border-radius: 12px;
  color: #5c6574;
  outline: none;
  border: none;
}
.colectionText {
  margin-left: 47px;
  margin-right: 122px;
}
.colectionText h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
}
.colectionText p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}
.clloctionMan {
  position: absolute;
  right: 10%;
  bottom: 0;
}

/* footer */
.footerSection {
  padding-top: 110px;
}
.footer_container {
  margin-right: 10%;
  background: #ffffff;
  border-radius: 0px 110px 10px 10px;
  padding: 125px 0;
  padding-left: 131px;
  display: flex;
  align-items: flex-start;
}
.footer_container h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #5c6574;
  margin-bottom: 57px;
}

.footer_container p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.contact_secvice {
  display: flex;
  align-items: center;
  gap: 37px;
}
.contact_secvice .contact_box {
  display: flex;
  align-items: center;
  gap: 13.5px;
}
.contact_secvice .contact_box p {
  margin: 0 0;
}
.footer_Imgcard_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.zone {
  margin-left: 100px;
  margin-right: 60px;
}
.zone2 {
  margin-right: 60px;
}

.inputBox {
  box-sizing: border-box;
  width: 304px;
  height: 48.03px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: -12px 16px 34px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  margin-bottom: 9px;
}
.inputBox input {
  height: 100%;
  border: none;
  padding-left: 10px;
  width: 100%;
}
.inputBox button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 26px;
  gap: 10px;
  background: #4277ff;
  border-radius: 6px;
  margin: 0 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.donot {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #9f8ea9;
  opacity: 0.6;
}
.social_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.socialBox {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 6px 6px 22px -9px rgba(0, 0, 0, 0.16);
  color: #5c6574;
}

.copeRight_container {
  margin-right: 10%;
  background: #ffffff;
  padding-left: 131px;
  padding-right: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 30px;
}
.copeRight_container .footer_lastMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}
/* footer */

/* Responsive */

@media only screen and (min-width: 1020px) {
  .hero_section {
    overflow: hidden;
    padding: 30px 0;
  }
  .imgDb {
    background-image: url("../Image/background.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
  }
  .heroText {
    width: 500px;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: #5c6574;
    margin-bottom: 50px;
  }
  .heroimg {
    margin-left: -100px;
    height: 500px;
  }
  .heroImg2 {
    top: 39%;
    right: 29%;
    width: 60px;
  }
  .heroImg3 {
    top: 19%;
    right: 52%;
    width: 150px;
  }
  .carosol_container {
    margin-top: -280px;
  }
  .carosol_container img {
    width: 800px;
  }

  /* Payment sectiopn */

  .paymentBigImg {
    height: 465px;
  }
  .PaymentImgBox {
    width: 520px;
    gap: 16px;
    position: relative;
    padding-left: 90px;
    padding-right: 29px;
  }
  .PaymentImg {
    width: 60px;
  }
  .payment1stImg {
    width: 160px;
    top: 0;
    left: -70px;
  }

  .paymentmarkText {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .PaymentHeaderText {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .paymentPara {
    margin-bottom: 20px;
  }

  /* Review section */

  .review_container {
    max-width: 1020px;
    margin: auto;
    overflow: visible;
    padding: 120px 0;
  }
  .review_left {
    position: relative;
    height: 522px;
    width: 40%;
  }
  .review_right {
    height: 522px;
    width: 50%;
    margin-right: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 20px;
  }
  .review_right i {
    font-size: 30px;
    margin-right: 8px;
  }
  .review_right p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 20px;
  }
  .ReviewedUser {
    width: 307px;
    height: 90px;
    margin-top: 40px;
  }
  .ReviewedUser h2 {
    font-size: 20px;
  }
  .ReviewedUser .cto {
    font-size: 16px;
  }
  .control_box {
    width: 250px;
    height: 50px;
    bottom: -4%;
  }
  .prev {
    font-size: 18px;
  }

  .next {
    font-size: 18px;
  }

  .leftBox {
    width: 580px;
    height: 522px;
    border-radius: 800px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    left: -61%;
    bottom: 0;
    border: 2px dashed #5c657459;
  }
  .border_box {
    width: 514px;
    height: 342px;
    background: #ffffff;
    box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.1);
    border-radius: 800px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    left: -65%;
    bottom: 17%;
  }
  .reviewtext {
    position: absolute;
    top: 33%;
    left: 7%;
    z-index: 11;
    width: 100px;
    font-size: 40px;
    line-height: 55px;
  }
  .reviewtext span {
    color: #4277ff;
  }
  .ReviewUserImg1 {
    position: absolute;
    top: -4%;
    left: 34%;
  }
  .ReviewUserImg2 {
    position: absolute;
    bottom: -2%;
    left: 34%;
  }

  .ReviewUserImg3 {
    position: absolute;
    top: 10%;
    right: 22%;
  }
  .ReviewUserImg4 {
    position: absolute;
    bottom: 10%;
    right: 22%;
  }

  .ReviewUserImg5 {
    position: absolute;
    top: 30%;
    right: -9%;
  }

  .leftBox h1 {
    transform: none;
  }

  /* Brand */

  .brand_section {
    padding-top: 180px;
  }

  .brand_container {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 3.39%,
      #ffffff 49.96%,
      rgba(255, 255, 255, 0) 96.54%
    );
    height: 250px;
    width: 100%;
    z-index: 11;
  }
  .brand_container img {
    width: 150px;
  }
  .brand_shadow {
    position: absolute;
    width: 470px;
    height: 392px;
  }
  .arrow {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .arrow_left {
    background: rgb(255, 255, 255);
  }
  .arrow_right {
    background: #4277ff;
    color: #fff;
  }

  /* DashBoad */

  .dashboard_container {
    height: 1135px;
    margin-left: 15%;
    background: #3c65f6;
    padding: 54px 0;
    padding-left: 380px;
    overflow: hidden;
  }

  .left_menuBox {
    height: 840px;
  }
  .left_menuBox h2 {
    font-size: 24px;
  }
  .btnBox {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .left_menuBox button {
    padding: 0 20px;
    height: 32px;
    font-size: 16px;
  }
  .menuItemBox .dashboard_menuCard {
    width: 300px;
    height: 58px;
    display: flex;
  }
  .menuItemBox .dashboard_menuCard h1 {
    font-size: 16px;
  }

  .dashboard_right h1 {
    width: 447px;
    font-weight: 700;
    font-size: 28px;
    margin-left: -20px;
  }

  /* Collection */
  .collection_sectoin {
    padding-top: 200px;
    padding-bottom: 120px;
  }
  .collection_container {
    margin-left: 0;
    width: 100%;
    height: 216px;
    padding-left: 40px;
  }
  .collection_container button {
    display: none;
  }
  .colectionText {
    margin-left: 47px;
    margin-right: 122px;
  }
  .colectionText h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .colectionText p {
    font-size: 16px;
  }
  .clloctionMan {
    position: absolute;
    right: 10%;
    bottom: 0;
  }

  /* footer */
  .footerSection {
    padding-top: 110px;
  }
  .footer_container {
    margin-right: 0;
    background: #ffffff;
    border-radius: 0px;
    padding: 100px 0;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .contact_secvice {
    display: flex;
    align-items: center;
    gap: 37px;
  }

  .copeRight_container {
    margin-right: 0;
    background: #ffffff;
    padding-left: 30px;
    padding-right: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .copeRight_container .footer_lastMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  /* footer */
}
